<div class="card">
  <h2 >Register Now</h2>
  <form [formGroup]="form" >
    <div class="inputs">
      <label>Email</label>
      <input type="email" formControlName="email"  matInput placeholder="Email">
      <span class="Error" *ngIf="form.controls.email.touched  && form.controls['email'].hasError('required')">
        email  is Required
     </span>
     <span class="Error" *ngIf="form.controls.email.touched && !form.controls.email.valid">Not a valid email</span>
     <span class="Error" *ngIf="form.controls.email.touched && form.controls.email.valid && isEmailExist">Email already exist</span>

    </div>
    <div class="inputs">
      <label>Username</label>
      <input type="text" formControlName="username"  matInput placeholder="Username">
      <span class="Error" *ngIf="form.controls.username.touched  && form.controls['username'].hasError('required')">
        username  is Required
     </span>
     <span class="Error" *ngIf="form.controls.username.touched && !form.controls.username.valid">Not a valid username,No special character allowed.</span>

    </div>
  <div class="inputs">
      <label>Password</label>
      <input type="password" formControlName="password"  matInput placeholder="Password" maxlength="20">
      <span class="Error" *ngIf="form.controls.password.dirty && form.controls['password'].hasError('required')">
        Password is Required
     </span>
     <span class="Error" *ngIf="form.controls.password.touched && !form.controls.password.valid">
      No special characters are allowed
   </span>
    </div>
  <button  (click)="signup()"  class="btn-login" type="submit">Register</button>
  <p class="text">OR</p>
  <button   class="btn-login" (click)="switchView()" type="button">Log In</button>
</form>

</div>
