.main {
  position: relative;
}

.notification {
  position: absolute;
  width: 300px;
  color: white;
  right: 10px;
  top: 40%;
  border-radius: 10px;
  padding: 10px;
}
.error{
  background-color: orangered;

}
.sucess{
  background-color: green;
}
